WcfServices/WcfClientDemo/Service References/ServiceReference1/LectureService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOE.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOE.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLecture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lecture" nillable="true" type="tns:Lecture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLecture" nillable="true" type="tns:ArrayOfLecture" />
  <xs:complexType name="Lecture">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organizer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speaker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lecture" nillable="true" type="tns:Lecture" />
</xs:schema>