WcfServices/WcfClientDemo/Service References/ServiceReference1/LectureService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="LectureService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ILectureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54644/LectureService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54644/LectureService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54644/LectureService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOE.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILectureService_GetAvailableLectures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLectures" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetAvailableLectures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLecturesResponse" />
  </wsdl:message>
  <wsdl:message name="ILectureService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ILectureService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="ILectureService">
    <wsdl:operation name="GetAvailableLectures">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/GetAvailableLectures" message="tns:ILectureService_GetAvailableLectures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/GetAvailableLecturesResponse" message="tns:ILectureService_GetAvailableLectures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/Test" message="tns:ILectureService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/TestResponse" message="tns:ILectureService_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ILectureService" type="tns:ILectureService">
    <wsp:PolicyReference URI="#WSHttpBinding_ILectureService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableLectures">
      <soap12:operation soapAction="http://tempuri.org/ILectureService/GetAvailableLectures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/ILectureService/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LectureService">
    <wsdl:port name="WSHttpBinding_ILectureService" binding="tns:WSHttpBinding_ILectureService">
      <soap12:address location="http://localhost:54644/LectureService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:54644/LectureService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>